<header>
    <nav class="header_nav">
        <div class="logo_div">
            <div class="logo_name_div">
                <div class="link_lines" id="logo_lines"></div>
                <a href="https://rb2ksite.herokuapp.com/#panel1_div" class="header_nav_links logo_nav_link" id="home_logo">
                    <div><img class="rb2k_logo_small" src="images/rb2k_logo_website_small.png"></div>
                    <div><img class="rb2k_logo" src="images/rb2k_logo_website.png"></div>
                    <h1 class="name_header">arber shpiragu</h1>
                </a>
                <div class="link_lines" id="logo_lines"></div>
            </div>
        </div>
        <div class="nav_links_container">
            <div class="nav_link_block rb2k">
                <div class="link_lines" id="rb2k_lines"></div>
                <a href="https://rb2ksite.herokuapp.com/#panel6_div" class="header_nav_links">rb2k SERVICES</a>
                <div class="link_lines" id="rb2k_lines"></div>
            </div>
            <div class="nav_link_block project">
                <div class="link_lines" id="project_lines"></div>
                <a href="https://rb2ksite.herokuapp.com/#panel4_div" class="header_nav_links">PROJECTS</a>
                <div class="link_lines" id="project_lines"></div>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>            
                <div class="line3"></div>
            </div>
        </div>
    </nav>
    <nav class="mobile_nav">
        <div class="mobile_links_container">
            <a href="https://rb2ksite.herokuapp.com/#panel1_div" class="mobile_nav_links" id="home_logo">HOME</a></td>
            <a href="https://rb2ksite.herokuapp.com/#panel2_div" class="mobile_nav_links">NEWS</a></td>
            <a href="https://rb2ksite.herokuapp.com/#panel3_div" class="mobile_nav_links">ABOUT</a></td>
            <a href="https://rb2ksite.herokuapp.com/#panel4_div" class="mobile_nav_links">PROJECTS</a>
            <a href="https://rb2ksite.herokuapp.com/#panel5_div" class="mobile_nav_links">CONTACT</a>
            <a href="https://rb2ksite.herokuapp.com/#panel6_div" class="mobile_nav_links">rb2k Services</a>
        </div>
    </nav>
</header>