<!DOCTYPE html>
<header>
    <nav class="header_nav">
        <div class="nav_links_container">
            <a href="http://localhost:3000/#home_logo" class="header_nav_links" id="home_logo">HOME</a></td>
            <a href="http://localhost:3000/#panel2_div" class="header_nav_links">NEWS</a></td>
            <a href="http://localhost:3000/#panel3_div" class="header_nav_links">ABOUT</a></td>
            <p id="name_header">ARBER SHPIRAGU</p>
            <a href="http://localhost:3000/#panel4_div" class="header_nav_links">PROJECTS</a>
            <a href="http://localhost:3000/#panel5_div" class="header_nav_links">CONTACT</a>
            <a href="http://localhost:3000/#panel6_div" class="header_nav_links">rb2k Services</a>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>            
                <div class="line3"></div>
            </div>  
        </div>
    </nav>
    <nav class="mobile_nav">
        <div class="mobile_links_container">
            <a href="#panel1_div" class="mobile_nav_links" id="home_logo">HOME</a></td>
            <a href="http://localhost:3000/#panel2_div" class="mobile_nav_links">NEWS</a></td>
            <a href="http://localhost:3000/#panel3_div" class="mobile_nav_links">ABOUT</a></td>
            <a href="http://localhost:3000/#panel4_div" class="mobile_nav_links">PROJECTS</a>
            <a href="http://localhost:3000/#panel5_div" class="mobile_nav_links">CONTACT</a>
            <a href="http://localhost:3000/#panel6_div" class="mobile_nav_links">rb2k Services</a>
        </div>
    </nav>
</header>