<header>
    <div id="header_div">
        <table id="header_menu_table">
            <tr>
                <td>HOME</td>
                <td>ABOUT</td>
                <td id="name_cell">ARBER SHPIRAGU</td>
                <td>PROJECTS</td>
                <td>CONTACT</td>
            </tr>
        </table>
    </div>
</header>