<header>
    <nav>
        <div id="header_div">
            <table id="header_menu_table">
                <tr>
                    <td><a href="#panel1_div">HOME</a></td>
                    <td><a href="#panel2_div">NEWS</a></td>
                    <td><a href="#panel3_div">ABOUT</a></td>
                    <td id="name_cell">ARBER SHPIRAGU</td>
                    <td><a href="#panel4_div">PROJECTS</a></td>
                    <td><a href="#panel6_div">CONTACT</a></td>
                    <td><a href="#panel5_div">rb2k Services</a></td>
                </tr>
            </table>
        </div>
    </nav>
</header>