<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Arber Shpiragu</title>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300|Exo+2:wght@500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>
    <body>
        <div id="header_div">
            {{>header}}
        </div>
        <div>
            {{{body}}}
        </div>
        <script src="/js/scripts.js"></script>
    </body>
    <footer>
        <div class="footer_container">
            <div class="social_links">
                <div class="social_header"><h1 class="social_header_text">STILL INTERESTED?</h1></div>
                <a class="social_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">                
                    <div class="social_icon linkedin_icon"></div>
                </a>
                <a class="social_link" href="https://github.com/rb2kGit" target="_blank">
                    <div class="social_icon github_icon"></div>
                </a>
                <a class="social_link" href="https://www.facebook.com/rb2kfb" target="_blank">
                    <div class="social_icon facebook_icon"></div>
                </a>
                <a class="social_link" href="https://www.instagram.com/arbyshpiragu/?hl=en" target="_blank">
                    <div class="social_icon instagram_icon"></div>
                </a>
                <a class="social_link" id="twitter_link" href="https://twitter.com/rb2ktwtr" target="_blank">
                    <div class="social_icon twitter_icon"></div>
                </a>
                <a class="social_link" href="https://www.youtube.com/channel/UC_NCy389xQNx1iSQgYteErA" target="_blank">
                    <div class="social_icon youtube_icon"></div>
                </a>
            </div>
            <div class="author_div">
                <h1 class="author_text">| Authored by: Arber Shpiragu</h1>
                <div class="handlebars_icon"></div>
                <h1 class="author_text">Express and</h1>
                <div class="node_icon"></div>
                <h1 class="author_text">Powered by</h1>
            </div>
        </div>
    </footer>
</html>