<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="description" content="{{metaObj.desc}}">
        <meta name="keywords" content="{{metaObj.keywords}}">
        <meta name="author" content="Arber Shpiragu">
        <link rel="icon" href="/images/favicon.ico" sizes="16x16" type="icon">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <title>{{metaObj.title}}</title>
    </head>
    <body>
        <div id="header_div">
            {{>header}}
        </div>
        <div>
            {{{body}}}
        </div>
        <footer>
            <div class="footer_container">
                <div class="social_links">
                    <div class="social_header">
                        <a class="header_nav_links" href="/contactPage"><h1 class="social_header_text">STILL INTERESTED?</h1></a>
                    </div>
                    <a class="social_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">                
                        <div class="social_icon linkedin_icon"></div>
                    </a>
                    <a class="social_link" href="https://github.com/rb2kGit" target="_blank">
                        <div class="social_icon github_icon"></div>
                    </a>
                    <a class="social_link" href="https://www.facebook.com/rb2kfb" target="_blank">
                        <div class="social_icon facebook_icon"></div>
                    </a>
                    <a class="social_link" href="https://www.instagram.com/arbyshpiragu/?hl=en" target="_blank">
                        <div class="social_icon instagram_icon"></div>
                    </a>
                    <a class="social_link" id="twitter_link" href="https://twitter.com/rb2ktwtr" target="_blank">
                        <div class="social_icon twitter_icon"></div>
                    </a>
                    <a class="social_link" href="https://www.youtube.com/channel/UC_NCy389xQNx1iSQgYteErA" target="_blank">
                        <div class="social_icon youtube_icon"></div>
                    </a>
                </div>
                <div class="author_div">
                    <h1 class="author_text">| Authored by: Arber Shpiragu</h1>
                    <div class="handlebars_icon"></div>
                    <h1 class="author_text">Express and</h1>
                    <div class="node_icon"></div>
                    <h1 class="author_text">Powered by</h1>
                </div>
            </div>
        </footer>
        <script src="/js/scripts.js"></script>
    </body>
</html>