<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    A command line program that I used to practice the fundamentals of hasg tables in C++. It allows the user to enter in student informatation and 
                    is able to traverse the data to retrieve a student's information.
                </p>
            </div>
            <div class="project_link_div">
                <p class="project_text">
                    Check out the code on Github!
                </p>
                <a class="project_link" href="https://github.com/rb2kGit/cpp_hash_map">https://github.com/rb2kGit/cpp_hash_map</a>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Fundamentals. Usage of object oriented programming fundamentals and concepts.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            User input.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Hash map creation, utilization, and traversal.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    Visual Studio | IDE
                    <br>
                    <br>
                    C++ | Language
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>