<body class='contact_body'>
    <div class="contact_page_container">
        <div class="contact_section_container">
            <div class="contact_elements_container">
                <div class='contact_email_div'>
                    <p class="contact_page_text">email | <a class="contact_link" href="mailto:rb2kPro@gmail.com">RB2KPRO@GMAIL.COM</a></p>
                </div>
                <div class='contact_phone_div'>
                    <p class="contact_page_text">phone | <a class="contact_link" href="tel:1-647-892-2729">+1 (647) 892 - 2729</a></p>
                </div>
                <div class="contact_title_div">
                    <h1 class="contact_title">LET'S TALK</h1>
                </div>
                <div class="contact_linkedin_div">
                    <p class="contact_page_text">linkedin | <a class="contact_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">Arber Shpiragu</a></p>
                </div>
                <div class="contact_facebook_div">
                    <p class="contact_page_text">facebook | <a class="contact_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">Arber Shpiragu</a></p>
                </div>
            </div>
            <div class="inner_overlay cPage"></div>
        </div>
        <div class="photo_credit_div">
            <p class="photo_credit_span">Photo by <a class="credit_link" href="https://unsplash.com/@withluke?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
            Luke Stackpoole</a> on <a class="credit_link" href="https://unsplash.com/s/photos/iceland?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
            Unsplash</a></p>
        </div>
    </div>
</body>