<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    A remake of the popular mobile game Flappy Bird. The purpose of this project is to develop my skills in Lua. It utilizes many concepts like 
                    procedural generation, nested tables, and collision detection. There are two versions of this game, one in it's final state and one with an AI component.
                </p>
            </div>
            <div class="project_link_div">
                <p class="project_text">
                    Check out the code on Github!
                </p>
                <a class="project_link" href="https://github.com/rb2kGit/lua_flappy_bird">https://github.com/rb2kGit/lua_flappy_bird</a>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Fully functional gameplay with collisions detection.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            State-based design. Utilization of states allow for a seemless experience when navigating the game menus.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Procedural generation of obstacles creates a dynamic and unpredictable game.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    LOVE2D | Game engine
                    <br>
                    <br>
                    Lua | Dynamic scripting language
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>