<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="TNSZ6NJ2"></script>
    <div id="panel1_div" class="text_panel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/rb2k_image2.png">
        </div>
        <div id="intro_text_div">
            <p id="landing_header">Arby Is <span id="flair_text">Smart</span></p>
        </div>
    </div>
    <div class="about_panel">
        <div class="photo_credit_div">
            <p class="photo_credit_span">Photo by <a class="credit_link" href="https://unsplash.com/@r3dmax?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonatan Pie</a> 
            on <a class="credit_link" href="https://unsplash.com/s/photos/aurora?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
        </div>
        <div class="about_container_div">
            <!--<div class="about_image_div">
                <img src="/images/rb2k_image3.2_dark.png" class="about_image">
            </div>-->
            <div class="about_info_div">
                <h2 class="about_header">ABOUT ME</h2>
                <div class="contact_break"></div>
                <div class="about_text_div">
                    <p class="about_text">
                        I am an entrepreneur and programmer based in Toronto. For over a decade I have owned and managed a small business focused on project management and skilled trades.
                        <br>
                        <br>
                        From 2017 to 2019 I studied computer programming at Seneca College of Applied Arts and Technology and graduated with honors. During that time I continued to run
                        my business and work on projects to develop my skills.
                        <br>
                        <br>
                        I have skills in various coding languages such as Java, Javascript, C++, HTML and CSS. Web development in Node JS runtime environments. I am familiar with SQL databases
                        as well as app development in Android Studio. 10 years of owning a small business has allowed me to develop skills in communication, project management, client 
                        relations, and sales. Communication and team building are my strong suits. 
                    </p>
                </div>
            </div>
            <div class="contact_block">
                <!--<div class="contact_image_div">
                    <img class="contact_image" src="/images/rb2k_image1_dark.png">
                </div>-->
                <div class="contact_text_div">
                    <div class="contact_text">
                        <h1 class="contact_header">LET'S TALK</h1>
                        <div class="contact_break right"></div>
                        <div class="contact_p_container">
                            <p class="contact_p">EMAIL | <a class="contact_link" href="mailto:rb2kPro@gmail.com">RB2KPRO@GMAIL.COM</a></p>
                            <p class="contact_p">PHONE | <a class="contact_link" href="telto:1-647-892-2729">+1 (647) 892 - 2729</a></p>
                            <p class="contact_p">LINKEDIN | <a class="contact_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">Arber Shpiragu</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<dic class="news_container">
            <div class="news_header_div">
                <h1 class="news_header">updates</h1>
            </div>
            <div class="social_link_div">
                <a class="social_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">                
                    <div class="social_icon linkedin_icon"></div>
                </a>
                <a class="social_link" href="https://github.com/rb2kGit" target="_blank">
                    <div class="social_icon github_icon"></div>
                </a>
                <a class="social_link" href="https://www.facebook.com/rb2kfb" target="_blank">
                    <div class="social_icon facebook_icon"></div>
                </a>
                <a class="social_link" href="https://www.instagram.com/arbyshpiragu/?hl=en" target="_blank">
                    <div class="social_icon instagram_icon"></div>
                </a>
                <a class="social_link" href="https://twitter.com/rb2ktwtr" target="_blank">
                    <div class="social_icon twitter_icon"></div>
                </a>
                <a class="social_link" href="https://www.youtube.com/channel/UC_NCy389xQNx1iSQgYteErA" target="_blank">
                    <div class="social_icon youtube_icon"></div>
                </a>
            </div>
            <div class="feed_div">
                <div class="fb-page" data-href="https://www.facebook.com/Barstool-Brainstorming-100670041710497/" data-tabs="timeline" data-width="" data-height="250px" 
                data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote 
                cite="https://www.facebook.com/Barstool-Brainstorming-100670041710497/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/Barstool-Brainstorming-100670041710497/">Barstool Brainstorming</a></blockquote></div>
            </div>
            <div class="news_button_div">
                <button class="news_button">View Feed</button>
            </div>
        </div>-->
    </div>
    
    <!--<div id="panel2_div" class="image_panel">
        <div class="news_elements">
            <div class="social_items_div"></div>
            <div class="social_header_div">
                <h2 id="social_header_text">Check out my socials to see what's new.</h2>
            </div>
            <div id="social_div" class="social_grid_container">
                <div class="social_grid_element">
                    <div class="social_items_div">
                        <div class="social_node" id="facebook_node">
                            <a href="https://www.facebook.com/rb2kfb" target="_blank">
                                <img src="/images/facebook.png" class="social_image_link">
                            </a> 
                        </div>
                        <p class="social_text">Arby Shpiragu</p>
                    </div>
                </div>
                <div class="social_grid_element" id="instagram_node">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://www.instagram.com/arbyshpiragu/?hl=en" target="_blank">
                                <img src="/images/instagram.png" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">@arbyshpiragu</p>
                    </div>
                </div>
                <div class="social_grid_element" id="github_node">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://github.com/rb2kGit" target="_blank">
                                <img src="/images/github.png" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">rb2kGit</p>
                    </div>
                </div>
                <div class="social_grid_element" id="linkedin_node">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">
                                <img src="/images/linkedin.png" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">Arber Shpiragu</p>
                    </div>
                </div>
                <div class="social_grid_element" id="twitter_node">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://twitter.com/rb2ktwtr" target="_blank">
                                <img src="/images/twitter.png" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">@rb2ktwtr</p>
                    </div>
                </div>
                <div class="social_grid_element" id="youtube_node">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://www.youtube.com/channel/UC_NCy389xQNx1iSQgYteErA" target="_blank">
                                <img src="/images/youtube.png" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">rb2kPro</p>
                    </div>
                </div>
                <div class="social_grid_element">
                    <div class="social_items_div">
                        <div class="social_node">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="/images/indeed.jpg" class="social_image_link">
                            </a>
                        </div>
                        <p class="social_text">Arber Shpiragu</p>
                    </div>
                </div>
            </div>
            <div id="wn_button_div">
                <button class="whats_new_button">What's New?</button>
            </div>
        </div>
        <div class="photo_credit_div">
            <p class="photo_credit_span">Photo by <a class="credit_link" href="https://unsplash.com/@r3dmax?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonatan Pie</a> 
            on <a class="credit_link" href="https://unsplash.com/s/photos/aurora?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
        </div>
    </div>-->

    <!--<div class="panel3_div text_panel">
        <div class="about_container_div">
            <div class="about_image_div">
                <img src="/images/rb2k_image3.2_dark.png" class="about_image">
            </div>
            <div class="about_info_div">
                <h2 class="about_header">About Me</h2>
                <div class="about_text_div">
                    <p class="about_text">
                        I am an entrepreneur and programmer based in Toronto. For over a decade I have owned and managed a small business focused on project management and skilled trades.
                        <br>
                        <br>
                        From 2017 to 2019 I studied computer programming at Seneca College of Applied Arts and Technology and graduated with honors. During that time I continued to run
                        my business and work on projects to develop my skills.
                        <br>
                        <br>
                        I have skills in various coding languages such as Java, Javascript, C++, HTML and CSS. Web development in Node JS runtime environments. I am familiar with SQL databases
                        as well as app development in Android Studio. 10 years of owning a small business has allowed me to develop skills in communication, project management, client 
                        relations, and sales. Communication and team building are my strong suits. 
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="project_panel">
        <div id="panel4_grid_container" class="p4_grid_container">
            <div class="projectT_grid_element">
                <div class="project_title_container">
                    <div class="project_header_container">
                        <h1 class="project_header">Projects</h1>
                    </div>
                    <img src="/images/rb2k_image3.2_dark.png" class="about_image">
                    <div class="project_lines"></div>
                    <div class="project_lines bottom"></div>
                </div>
            </div>
            <div class="p4_grid_element1">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header" id="site_header">This Site</h3>
                    </div>
                    <div class="hidden_overlay_1"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items1 centered_vertical">
                            <p class="hidden_text">I built this website to be an introduction of myself and a portfolio of my programming skills
                                and work experience.
                            </p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Node.js | Express | Handlebars | HTML | CSS</p>
                            <a class="hidden_button_link" href="/rb2ksite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p4_grid_element2">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header">Retro Pong</h3>
                    </div>
                    <div class="hidden_overlay_2"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items2 centered_vertical">
                            <p class="hidden_text">A Pong game made in a retro style, true to its inspiration.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Lua | Love2D</p>
                            <a class="hidden_button_link" href="/pongsite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p4_grid_element3">
                <div class="content_div">    
                    <div class="grid_header_div" id="item3_header">
                        <h3 class="grid_header" id="site_header">TCG League Project</h3>
                    </div>
                    <div class="hidden_overlay_3"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items3 centered_vertical">
                            <p class="hidden_text">A web app that handles statistic and prize tracking built for a local group of card players.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Node.js | Express | MongoDB | HTML | CSS</p>
                            <a class="hidden_button_link" href="/leaguesite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="p4_grid_element4">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header">Java Matrix</h3>
                    </div>
                    <div class="hidden_overlay_4"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items4 centered_vertical">
                            <p class="hidden_text">A command line Java program that traverses a matrix to retrieve a value.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Java</p>
                            <a class="hidden_button_link" href="/javasite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="p4_grid_element5">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header">Student Hash Table</h3>
                    </div>
                    <div class="hidden_overlay_5"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items5 centered_vertical">
                            <p class="hidden_text">A command line program that stores student information in a has table and allows for traversal of data.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">C++</p>
                            <a class="hidden_button_link" href="/csite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="p4_grid_element6">
                <div class="content_div">    
                    <div class="grid_header_div" id="fbird_header">
                        <h3 class="grid_header">Flappy Bird Remake</h3>
                    </div>
                    <div class="hidden_overlay_6"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items6 centered_vertical">
                            <p class="hidden_text">Flappy Bird made with keyboard controls done in a retro style, true to its inspiration.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Lua | Love2D</p>
                            <a class="hidden_button_link" href="/flappysite" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="projectE_grid_element">
                <div class="project_header_containerR">
                    <img class="arrow_icon" src="/images/arrow_icon_up.png">
                    <h1 class="project_header">Projects</h1>
                </div>-->
            </div>
        </div>
    </div>
    <!--<div class="contact_panel text_panel">
        <div class="contact_block">
            <div class="contact_image_div">
                <img class="contact_image" src="/images/rb2k_image1_dark.png">
            </div>
            <div class="contact_text_div">
                <div class="contact_text">
                    <h1 class="contact_header">CONTACT ME</h1>
                    <div class="contact_break"></div>
                    <p class="contact_p">EMAIL | <a class="contact_link" href="mailto:rb2kPro@gmail.com">RB2KPRO@GMAIL.COM</a></p>
                    <p class="contact_p">PHONE | <a class="contact_link" href="telto:1-647-892-2729">+1 (647) 892 - 2729</a></p>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div id="panel6_div" class="image_panel">
        <div class="services_items">
            <div class="services_link_div">
                <h2 class="services_header">rb2k Services</h2>
                <a class="services_link" href="/servicesite"><div class="services_button">Learn More</div></a>
                <div class="services_overlay"></div>
            </div>
        </div>
    </div>-->
    <footer>
        <div class="footer_container">
            <div class="social_links">
                <div class="social_header"><h1 class="social_header_text">STILL INTERESTED?</h1></div>
                <a class="social_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">                
                    <div class="social_icon linkedin_icon"></div>
                </a>
                <a class="social_link" href="https://github.com/rb2kGit" target="_blank">
                    <div class="social_icon github_icon"></div>
                </a>
                <a class="social_link" href="https://www.facebook.com/rb2kfb" target="_blank">
                    <div class="social_icon facebook_icon"></div>
                </a>
                <a class="social_link" href="https://www.instagram.com/arbyshpiragu/?hl=en" target="_blank">
                    <div class="social_icon instagram_icon"></div>
                </a>
                <a class="social_link" href="https://twitter.com/rb2ktwtr" target="_blank">
                    <div class="social_icon twitter_icon"></div>
                </a>
                <a class="social_link" href="https://www.youtube.com/channel/UC_NCy389xQNx1iSQgYteErA" target="_blank">
                    <div class="social_icon youtube_icon"></div>
                </a>
            </div>
            <div class="author_div">
                <h1 class="author_text">| Authored by: Arber Shpiragu</h1>
                <div class="handlebars_icon"></div>
                <h1 class="author_text">Express and</h1>
                <div class="node_icon"></div>
                <h1 class="author_text">Powered by</h1>
            </div>
        </div>
    </footer>
</body>

<!--<span>Photo by <a href="https://unsplash.com/@max_duz?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Max Duzij</a> on <a href="https://unsplash.com/s/photos/programming?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
<!--<span>Photo by <a href="https://unsplash.com/@seanlimm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sean Lim</a> on <a href="https://unsplash.com/s/photos/programming?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->