
    <div id="panel1_div" class="text_panel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/rb2k_image2.png">
        </div>
        <div id="intro_text_div">
            <div class="text_con">
                <p id="landing_header">Arby Is </p>
            </div>
            <div class='flair_container'>
                <span id="flair_text">Smart</span>
                </div>
        </div>
    </div>
    <div class="about_panel">
        <div class="photo_credit_div">
            <p class="photo_credit_span">Photo by <a class="credit_link" href="https://unsplash.com/@withluke?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
            Luke Stackpoole</a> on <a class="credit_link" href="https://unsplash.com/s/photos/iceland?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
            Unsplash</a></p>
        </div>
        <div class="about_container_div">
            <div class="about_info_div">
                <h2 class="about_header">ABOUT ME</h2>
                <div class="contact_break"></div>
                <div class="about_text_div anim">
                    <p class="about_text">
                        I am an entrepreneur and programmer based in Toronto. For over a decade I have owned and managed a small business focused on project management and skilled trades.
                        <br>
                        <br>
                        From 2017 to 2019 I studied computer programming at Seneca College of Applied Arts and Technology and graduated with honors. During that time I continued to run
                        my business and work on projects to develop my skills.
                        <br>
                        <br>
                        I have skills in various coding languages such as Java, Javascript, C++, HTML and CSS. Web development in Node JS runtime environments. I am familiar with SQL databases
                        as well as app development in Android Studio. 10 years of owning a small business has allowed me to develop skills in communication, project management, client 
                        relations, and sales. Communication and team building are my strong suits. 
                    </p>
                </div>
            </div>
            <div class="contact_block">
                <div class="contact_text_div">
                    <div class="contact_text">
                        <h2 class="contact_header">LET'S TALK</h2>
                        <div class="contact_break right"></div>
                        <div class="contact_p_container anim">
                            <p class="contact_p">email | <a class="contact_link" href="mailto:rb2kPro@gmail.com">RB2KPRO@GMAIL.COM</a></p>
                            <p class="contact_p">phone | <a class="contact_link" href="tel:1-647-892-2729">+1 (647) 892 - 2729</a></p>
                            <p class="contact_p">linkedin | <a class="contact_link" href="https://www.linkedin.com/in/arber-shpiragu-7544b319a/" target="_blank">Arber Shpiragu</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project_panel">
        <div id="panel4_grid_container" class="p4_grid_container">
            <div class="projectT_grid_element">
                <div class="project_title_container">
                    <div class="project_header_container">
                        <h1 class="project_header">Projects</h1>
                    </div>
                    <img src="/images/rb2k_image3.2_dark.png" class="about_image">
                    <div class="project_lines"></div>
                    <div class="project_lines bottom"></div>
                </div>
            </div>
            <div class="p4_grid_element1">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header" id="site_header">This Site</h3>
                    </div>
                    <div class="hidden_overlay_1"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items1 centered_vertical">
                            <p class="hidden_text">I built this website to be an introduction of myself and a portfolio of my programming skills
                                and work experience.
                            </p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Node.js | Express | Handlebars | HTML | CSS</p>
                            <a class="hidden_button_link" href="/projectPage" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p4_grid_element2">
                <div class="content_div">    
                    <div class="grid_header_div">
                        <h3 class="grid_header">Retro Pong</h3>
                    </div>
                    <div class="hidden_overlay_2"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items2 centered_vertical">
                            <p class="hidden_text">A Pong game made in a retro style, true to its inspiration.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Lua | Love2D</p>
                            <a class="hidden_button_link" href="/projectPage" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p4_grid_element3">
                <div class="content_div">    
                    <div class="grid_header_div" id="item3_header">
                        <h3 class="grid_header" id="site_header">TCG League</h3>
                    </div>
                    <div class="hidden_overlay_3"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items3 centered_vertical">
                            <p class="hidden_text">A web app that handles statistic and prize tracking built for a local group of card players.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Node.js | Express | MongoDB | HTML | CSS</p>
                            <a class="hidden_button_link" href="/projectPage" target="_blank"><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p4_grid_element6">
                <div class="content_div">    
                    <div class="grid_header_div" id="fbird_header">
                        <h3 class="grid_header">Flappy Bird Remake</h3>
                    </div>
                    <div class="hidden_overlay_6"></div>
                    <div class="hidden_info_container">
                        <div class="hidden_items6 centered_vertical">
                            <p class="hidden_text">Flappy Bird made with keyboard controls done in a retro style, true to its inspiration.</p>
                            <div class="hidden_break"></div>
                            <p class="hidden_text">Lua | Love2D</p>
                            <a class="hidden_button_link" href="/projectPage" target='_blank'><div class="hidden_button">More Info</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>