<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    This is a java project in which the goal was to practice the imlementation and traversal of multidimensional arrays. An assignment from school, in this project 
                    data is entered into a matrix and the program returns values to the command line.
                </p>
            </div>
            <div class="project_link_div">
                <p class="project_text">
                    Check out the code on Github!
                </p>
                <a class="project_link" href="https://github.com/rb2kGit/java_matrix">https://github.com/rb2kGit/java_matrix</a>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Multidimensional arrays.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Traversal of the matrix.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Return of desired data to the command line.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    Eclipse | IDE
                    <br>
                    <br>
                    Java | Language
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>