<article>
    <div id="panel1_div" class="text_panel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/arby_ic.png">
        </div>
        <div id="intro_text_div">
            <p id="landing_header">Arby Is {{adj}}</p>
        </div>
    </div>
    <div id="panel2_div" class="image_panel">
        <div id="panel2_button_div" class="centered_vertical">
            <button id="whats_new_button" class="centered_vertical">What's New?</button>
        </div>
        <div id="photo_credit_div">
            <span>Photo by <a href="https://unsplash.com/@r3dmax?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonatan Pie</a> 
            on <a href="https://unsplash.com/s/photos/aurora?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
        </div>
    </div>
    <div id="panel3_div" class="text_panel">
        <div id="about_text_div" class="centered_vertical">
            <p id="about_text">
                I am an entrepreneur and programmer based in Toronto. For over a decade I have owned and managed a small business focused on project management and skilled trades.
                <br>
                <br>
                From 2017 to 2019 I studied computer programming at Seneca College of Applied Arts and Technology and graduated with honors. During that time I continued to run
                my business and work on projects to develop my skills.
                <br>
                <br>
                I have skills in various coding languages such as Java, Javascript, C++, HTML and CSS. Web development in Node JS runtime envirnoments. I am familiar with SQL databases
                as well as app development in Android Studio. 10 years of owning a small business has allowed me to develop skills in communication, project management, client 
                relations, and sales. Communication and team building are my strong suit. 
                <br>
                <br>
                I love learning, meeting new people, and the outdoors. I code games in my spare time and am an amateur astronomer. It is my strong belief that the only way to improve
                yourself is through learning and surrounding yourself with people who will influence you positively.
            </p>
        </div>
    </div>
    <div id="panel4_div">
        <div id="panel4_grid_container" class="grid_container">
            <div id="grid_element1" class="grid_element">1</div>
            <div id="grid_element2" class="grid_element">2</div>
            <div id="grid_element3" class="grid_element">3</div>
            <div id="grid_element4" class="grid_element">4</div>
            <div id="grid_element5" class="grid_element">5</div>
            <div id="grid_element6" class="grid_element">6</div>
        </div>
    </div>
    <div id="panel5_div" class="image_panel">
    </div>
    <div id="panel6_div" class="text_panel">
        <div id="contact_block">
            <h1>Contact</h1>
            <p>email</p>
            <p>phone</p>
        </div>
    </div>
</article>