<article>
    <div id="panel1_div">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/dante_png.png">
        </div>
        <div id="intro_text_div">
            <H1>Arber "Arby" Shpiragu</H1>
            <H1>Is</H1>
            <H1>Placeholder</H1>
        </div>
    </div>
    <div id="panel2_div">
        <h1>Placeholder text.</h1>
    </div>
    <div id="panel3_div">
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
    </div>
    <div id="panel4_div">
    </div>
</article>