<article>
    <div id="panel1_div" class="landingPanel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/dante_png.png">
        </div>
        <div id="intro_text_div">
            <p id="landing_header">Arby Is</p>
            <p id="landing_header">Placeholder</p>
        </div>
    </div>
    <div id="panel2_div" class="landingPanel">
        <h1>Placeholder text.</h1>
    </div>
    <div id="panel3_div" class="landingPanel">
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
    </div>
    <div id="panel4_div" class="landingPanel">
    </div>
</article>