<article>
    <div id="panel1_div" class="landingPanel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/dante_png.png">
        </div>
        <div id="intro_text_div">
            <p id="landing_header">Arby Is {{adj}}</p>
        </div>
    </div>
    <div id="panel2_div" class="landingPanel">
        <div id="photo_credit_div">
            <span>Photo by <a href="https://unsplash.com/@r3dmax?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonatan Pie</a> on <a href="https://unsplash.com/s/photos/aurora?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
        </div>
        <div id="about_text_div" class="centered_vertical">
            <p id="about_text">
                I am an entrepreneur and programmer based in Toronto. For over a decade I have owned and managed a small business focused on home services and project management.
                <br>
                <br>
                From 2017 to 2019 I studied computer programming at Seneca College of Applied Arts and Technology and graduated with honors. During that time I continued to run
                my business and work on projects to develop my skills.
                <br>
                <br>
                I have skills in various coding languages such as Java, Javascript, C++, HTML and CSS. Web development in Node JS runtime envirnoments. As well as app development
                in Android Studio. Additionally, I enjoy learning to code games in my spare time.
                <br>
                <br>
                10 years of owning a small business has allowed me to develop skills in communication, project management, and client relations.
                <br>
                <br>
                I love learning, meeting new people, and the outdoors. It is my strong belief that one can only improve themselves through learning and surrounding themselves with
                people who bring them happiness.
            </p>
        </div>
    </div>
    <div id="panel3_div" class="landingPanel">
        <div id="panel3_tabel_div">    
            <table id="panel3_table" class="centered_vertical">
                <tr>
                    <td id="panel3_table_td">
                        <img class="landing_icons" src="/images/coding.png">
                        <h1>Projects</h1>
                    </td>
                    <td>
                        <img class="landing_icons" src="/images/mobile.jpg">
                        <h1>Contact</h1>
                    </td>
                    <td>
                        <img class="landing_icons" src="/images/truck.jpg">
                        <h1>rb2k<br>Services</h1>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="panel4_div" class="landingPanel">
    </div>
</article>