<article>
    <div id="panel1_div" class="landingPanel">
        <div id="intro_image_div">
            <img id="landing_image" src="/images/dante_png.png">
        </div>
        <div id="intro_text_div">
            <p id="landing_header">Arby Is {{adj}}</p>
        </div>
    </div>
    <div id="panel2_div" class="landingPanel">
        <h1>
            <span>
                Photo by <a href="https://unsplash.com/@mindaugasbravo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                Mindaugas Vitkus</a> on <a href="https://unsplash.com/s/photos/starry-sky?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                Unsplash</a>
            </span>
        </h1>
    </div>
    <div id="panel3_div" class="landingPanel">
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
        <h1>Placeholder text.</h1>
    </div>
    <div id="panel4_div" class="landingPanel">
    </div>
</article>