<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    I built this website as a requisition for a local group of hobby card game players. It is designed track the stats of players as they play their games 
                    and award points to players who win or lose. The points system is handled by the server and all data is stored in a database. 
                </p>
                
            </div>
            <div class="project_link_div">
                <a class="project_link" href="https://nancyleague.herokuapp.com/login">Visit the Site!</a>
                <p class="project_text">
                    Check out the code on Github!
                </p>
                <a class="project_link" href="https://github.com/rb2kGit/nancyLeague">https://github.com/rb2kGit/nancyLeague</a>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Session handling. Login system and cookies are used to handle user sessions.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Datbase operations. MonogDB is used to maintain players data and allow for stats tracking and player information storage.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Simple design. A very simple and minimalistic design is used to taylor to mobile devices. The majority site utilization will come from 
                            mobile devices.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    Node.js | Runtime environment
                    <br>
                    <br>
                    Express | Framework
                    <br>
                    <br>
                    Express Handlebars | Layout manager
                    <br>
                    <br>
                    Javascript | Back end and animations
                    <br>
                    <br>
                    HTML and CSS | Design
                    <br>
                    <br>
                    MongoDB | Database
                </p>
            </div>
        </div>
    </div>
</body>