<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    A recreation of the classic "first" video game, Pong. True to its source the game is designed wit a retro asthetic. This project was a chance for me 
                    to get my feet wet in game design using Lua and LOVE2D. It is multiplayer enable and there is another version of the game with and unbeatable AI 
                    opponent.
                </p>
            </div>
            <div class="project_link_div">
                <p class="project_text">
                    Check out the code on Github!
                </p>
                <a class="project_link" href="https://github.com/rb2kGit/lua_pong">https://github.com/rb2kGit/lua_pong</a>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            AABB collision detection.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Score keeping.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            AI component.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    Lua | Dynamic scripting language
                    <br>
                    <br>
                    LOVE2D | Game engine
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>