<body class="project_info_bod">
    <div class="inner_banner projects_banner">
        <div class="inner_header_container projects_header">
            <div class="inner_overlay"></div>
            <h1 class="inner_header">Projects</h1>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section this_site"></div>
        <div class="inner_text_section">
            <div class="inner_lines vertical"></div>
            <div class="inner_lines horizontal"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">This Site</h1>
                <p class="inner_text">
                    I built this site to act as introduction to me, my coding skills, and my entrepreneurial experience.
                    <br>
                    <br>
                    Node.js | Express | Handlebars | HTML | CSS
                    <br>
                    <br>
                    Highlights of this project include Javascript animations, responsive design, and observer API implementation.
                    <br>
                    <br>
                    Check out the code on GitHub!
                    <br>
                    <a class="project_link" href="https://github.com/rb2kGit/rb2kSite">https://github.com/rb2kGit/rb2kSite</a>
                </p>
            </div>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section pong"></div>
        <div class="inner_text_section">
            <div class="inner_lines vertical left"></div>
            <div class="inner_lines horizontal left"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">Retro Pong</h1>
                <p class="inner_text">
                    A recreation of pong with multiplayer controls and an AI variant. Styled as a retro game. True to its inspiration.
                    <br>
                    <br>
                    Lua | Love2D
                    <br>
                    <br>
                    Highlights of this project include Lua tables, retro styling, AABB collision detection, multiplayer support, and an unbeatable AI variant.
                    <br>
                    <br>
                    Check out the code on GitHub!
                    <br>
                    <a class="project_link" href="https://github.com/rb2kGit/lua_pong">https://github.com/rb2kGit/lua_pong</a>
                </p>
            </div>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section nv"></div>
        <div class="inner_text_section">
            <div class="inner_lines vertical"></div>
            <div class="inner_lines horizontal"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">TCG League</h1>
                <p class="inner_text">
                    A mobile-friendly web app that tracks statistics, rewards, accounts for a local group of card game players.
                    <br>
                    <br>
                    Node.js | Express | Express Handlebars | Javascript | HTML and CSS | MongoDB
                    <br>
                    <br>
                    Highlights of this project include CRUD operations, database implementation, mobile-centric design, hasing and salting of user passwords.
                    <br>
                    <br>
                    Check out the code on GitHub!
                    <br>
                    <a class="project_link" href="https://github.com/rb2kGit/lua_pong">https://github.com/rb2kGit/lua_pong</a>
                    <br>
                    Visit the site!
                    <br>
                    <a class="project_link" href="https://nancyleague.herokuapp.com/login">https://nancyleague.herokuapp.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="inner_section_container" id="bottom_container">
        <div class="inner_image_section fbird"></div>
        <div class="inner_text_section">
            <div class="inner_lines vertical left"></div>
            <div class="inner_lines horizontal left"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">Flappy Bird</h1>
                <p class="inner_text">
                    A recreation of Flappy Bird with keyboard controls and identical gameplay. Styled identically to its inspiration.
                    <br>
                    <br>
                    Lua | Love2D
                    <br>
                    <br>
                    Highlights of this project include nested Lua tables, AABB collision detection, state-based gameplay, and procedurally generated levels.
                    <br>
                    <br>
                    Check out the code on GitHub!
                    <br>
                    <a class="project_link" href="https://github.com/rb2kGit/lua_flappy_bird">https://github.com/rb2kGit/lua_flappy_bird</a>
                </p>
            </div>
        </div>
    </div>
</body>