<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">About This Project</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    I built this website as an introduction to myslef, my skils and work history. I wanted something that I could point people towards
                    that would show them who I was and the type of work I can do. I am a strong believer in "don't tell, show" and I wanted to make
                    a portfolio site to represent that.
                </p>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Javascript animations including parallax and transitions.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Responsive Design
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Express framework and handlebars.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/js_animations_highlight.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">Tools</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text" id="tools_text">
                    Node.js | Runtime environment.
                    <br>
                    <br>
                    Express | Framework
                    <br>
                    <br>
                    Express Handlebars | Layout manager.
                    <br>
                    <br>
                    Javascript | Back end and animations.
                    <br>
                    <br>
                    HTML and CSS | Design.
                </p>
            </div>
        </div>
    </div>
</body>