<body class="project_info_bod">
    <div class="inner_banner service_banner">
        <div class="inner_header_container">
            <div class="inner_overlay"></div>
            <h1 class="inner_header">r2bk Services</h1>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section">
            <img class="inner_image" src="/images/service_img3.jpg">
        </div>
        <div class="inner_text_section">
            <div class="inner_lines vertical"></div>
            <div class="inner_lines horizontal"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">A Decade of Experience.</h1>
                <p class="inner_text">
                    For 10 years I have provided professional and reliable project management experience. Ranging from daily to long term projects, I have the ability to see it
                    through to the end. With a variety of communication, time management, and team management skills, no project is too demanding.
                </p>
            </div>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section">
            <img class="inner_image" src="/images/service_img1.jpg">
        </div>
        <div class="inner_text_section">
            <div class="inner_lines vertical left"></div>
            <div class="inner_lines horizontal left"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">Adaptation Through Training</h1>
                <p class="inner_text">
                    The best tool in training your team is learning to adapt. Adaptation is the backbone of rb2k Services and it is the cornerstone of my training techniques.
                    Adapting to the industry is paramount in delivering effictive team building and training. I have learned to adapt in many fields from skilled trades, 
                    insurance, sales, to computer programming. This adaptation through learning is what I provide to any team that I manage or am a part of.
                </p>
            </div>
        </div>
    </div>
    <div class="inner_section_container">
        <div class="inner_image_section">
            <img class="inner_image" src="/images/service_img2.jpg">
        </div>
        <div class="inner_text_section">
            <div class="inner_lines vertical"></div>
            <div class="inner_lines horizontal"></div>
            <div class="inner_text_container">
                <h1 class="inner_text_header">Lets Work Together</h1>
                <p class="inner_text">
                    <p class="inner_contact_p">EMAIL | <a class="inner_contact_link" href="mailto:rb2kPro@gmail.com">rb2kPro@gmail.com</a></p>
                    <p class="inner_contact_p">PHONE | <a class="inner_contact_link" href="tel:1-647-892-2729">+1 (647) 892 - 2729</a></p>
                </p>
            </div>
        </div>
    </div>
</body>