<body class="project_info_bod">
    <div class="project_info_container">
        <div class="project_info_block">
            <div class="project_header_div">
                <h2 class="project_header">rb2k Services</h2>
            </div>
            <div class="project_text_div">
                <p class="project_text">
                    For a decade rb2k Services had provided professional, and quality project, and team management services. Based out of Toronto, I Specialize  in skilled trades. 
                    I have managed time-sensitve, detail-oriented, and complex project of varying scopes. Daily or long-term, all projects are treated with the same level of 
                    precision and respect.
                    <br>
                    <br>
                    My personell training techniques are proven and reliable. I am able to train both english and spanish speakers in whatever trade or skill is necessary. Feel 
                    free to contact me to discuss what rb2k Services can do for your projects and teams.
                </p>
            </div>
            <div class="project_link_div">
                <p class="project_text">
                    Phone | (647) 892 - 2729
                    <br>
                    <br>
                    Email | <a class="project_linl" href="mailto:rb2kPro@gmail.com">RB2KPRO@GMAIL.COM</a></p>
                </p>
            </div>
        </div>
        <div class="hidden_break" id="project_break"></div>
        <div class="project_info_block" id="project_highlight_block">
            <div class="project_header_div">
                <h2 class="project_header">Highlights</h2>
            </div>
            <div class="project_media_div">
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            Reliable training.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/service_img1.jpg">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            The right attitude.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/service_img2.jpg">
                    </div>
                </div>
                <div class="highlight_block">
                    <div class="highlight_text_div">
                        <p class="highlight_text">
                            A decade of project management experience.
                        </p>
                    </div>
                    <div class="highlight_image_div">
                        <img class="highlight_image" src="images/service_img3.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>