body{
    margin: 0px;
}

.landingPanel{
    width: 100%;
    overflow: hidden;
    height: 750px;
}
#header_div{
    background-color: #54acc7;
}

#header_menu_table{
    text-align: center;
    width: 85%;
    margin: auto;
    color: white;
}

#name_cell{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

#panel1_div{
    background-color: #54acc7;
    /*background-color: #00ace6;*/
}

#intro_text_div{
    text-align: left;
    position: absolute;
    color: white;
    top: 35%;
    left: 15%;
}

#landing_header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
}

#intro_image_div{
    position: absolute;
    height: inherit;
    right: 15%;
    overflow: hidden;
    max-width: 150%;
}

#landing_image{
    max-height: 100%;
    overflow: hidden;
}

#panel2_div{
    text-align: center;
    color: white;
    height: 750px;
    background-image: url(/images/galaxy_background.jpg);
}

#panel3_div{
    text-align: center;
    height: 250px;
}

#panel4_div{
    height: 750px;
    background-image: url(/images/code_back.jpg);
}

/*
border: solid;
border-color: black;
*/