body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a:link, a:visited{
    text-decoration: none;
    /*color: #f4ebc1;*/
}

.centered_vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Nav Bar CSS*/
.header_nav{
    width: 100%;
    height: 6vh;
    padding: 5px;
    position: fixed;
    z-index: 1;
    background-color: #40a8c4;
}
.nav_links_container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.header_nav_links{
    color: #f4ebc1;
    transition: all 0.3s ease;
    font-family: sans-serif;
    font-size: 1.2em;
}
.hovered_nav_item{
    color: white;
    transform: scale(2);
}
.burger{
    padding: 5px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #f4ebc1;
}
.mobile_nav{
    position: fixed;
    width: 50%;
    height: 94vh;
    bottom: 0vh;
    right: 0px;
    background-color: #40a8c4;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 1s all ease-in-out;
}
.mobile_links_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mobile_nav_links{
    color: #f4ebc1;
    transition: all 0.3s ease;
    font-family: sans-serif;
    font-size: 1.2em;
}
.nav_active{
    transform: translateX(0%)
}



/*Landing Page CSS*/
.image_panel{
    width: 100%;
    overflow: hidden;
    height: 750px;
    position: relative;
}

.text_panel{
    width: 100%;
    overflow: hidden;
    height: 550px;
    position: relative;
}

/*What New CSS*/
.news_elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.social_header_div{
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 1.5s ease;
}
.social_grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.social_grid_element{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 1.5s ease;
    pointer-events: none;
}
.social_items_div{
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.social_node{
    width: 75px;
    height: 75px;
    opacity: 1;
    margin: 10px;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black);
    transition: all 1.5s ease;
}
.social_text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
}

.social_image_link{
    max-width: 75px;
    max-height: 75px;
    border-radius: 5px;
}
.wn_button_div{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/*About CSS*/
.about_container_div{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0px;
    padding: 0px;
    height: 100%;
}
.about_image_div{
    left: 0px;
    top: 0px;
    position: absolute;
    width: 30%;
    margin: auto;
}
.about_image{
    margin: 0px;
    height: 100%;
}
.about_text_div{
    width: 55%;
    color: white;
    margin: 2%;
    z-index: 1;
}
.about_header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.about_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/*Project Info Page CSS*/
.project_info_container{
    display: flex;
    flex-direction: column;
    border-top: solid 1px grey;
}
#project_break{
    margin: auto;
    width: 50%;
}
.project_info_block{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.5em;
}
#project_highlight_block{
    width: 90%;
}
.project_header_div{
    margin-bottom: 5%;
}
.project_header{
    text-align: center;
    font-family: arial;
    margin: 0px;
}
.project_text_div{
    width: 75%;
    margin: auto;
    padding: 10%;
    border: solid 1px grey;
    border-radius: 5px;
}
.project_text{
    font-family: Arial, Helvetica, sans-serif;
}
#tools_text{
    text-align: center;
}
.project_media_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.highlight_block{
    margin-bottom: 5%;
}
.highlight_text_div{
    padding: 5%;
    border: solid 1px grey;
}
.highlight_text{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
.highlight_image_div{
    padding: 0px;
}
.highlight_image{
    width: 100%;
    padding: 0;
    margin: 0;
}

.p4_grid_container{
    display: grid;
    grid-template-areas: 
        'project1 project1 project2 project2 project2 project2'
        'project1 project1 project2 project2 project2 project2'
        'project1 project1 project3 project3 project3 project4'
        'project5 project6 project6 project6 project6 project4'
        'project5 project6 project6 project6 project6 project4';
    height: 750px;
    width: 100%;
    gap: 20px;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}

/*Grid classes*/
.p4_grid_element1{
    grid-area: project1;
    background-image: url(/images/site_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin-top: 20px;
    margin-left: 20px;
}
.hidden_overlay_1{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items1{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.p4_grid_element2{
    grid-area: project2;
    background-image: url(/images/pong_image.png);
    background-position:  left center;
    background-size: cover;
    margin-top: 20px;
    margin-right: 20px;
}
.hidden_overlay_2{
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items2{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.p4_grid_element3{
    grid-area: project3;
    background-image: url(/images/nv_image.png);
    background-position:  left bottom;
    background-size: cover;
}
.hidden_overlay_3{
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items3{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.p4_grid_element4{
    grid-area: project4;
    background-image: url(/images/jav_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
}
.hidden_overlay_4{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items4{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.p4_grid_element5{
    grid-area: project5;
    background-image: url(/images/cpp_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 20px;
}
.hidden_overlay_5{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items5{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.p4_grid_element6{
    grid-area: project6;
    background-image: url(/images/fbird_image.png);
    background-position:  left top;
    background-size: cover;
    margin-bottom: 20px;
}
.hidden_overlay_6{
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items6{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}

.content_div{
    width: 100%;
    height: 100%;
    position: relative;
}

.grid_header_div{
    width: 90%;
    position: absolute;
    margin: 10px;
}
.grid_header{
    color: #f4ebc1;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}

.hidden_info_container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.hidden_text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hidden_break{
    border: solid 1px black;
    margin: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#hidden_break_white{
    border: solid 1px white;
}
.hidden_button{
    border: solid 1px black;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.overlay_reveal{
    height: 100%;
    width: 100%;
    pointer-events: all;
    opacity: 0.85;
}
.items_reveal{
    opacity: 1;
    pointer-events: all;
}

/*Element IDs*/
#header_div{
    background-color: #40a8c4;
}

#header_menu_table{
    text-align: center;
    width: 85%;
    margin: auto;
}

#name_header{
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: white;
}

#panel1_div{
    background-color: #40a8c4;
    /* #54acc7;*/
    height: 650px;
    /*background-color: #00ace6;*/
}

#intro_text_div{
    text-align: left;
    position: absolute;
    color: white;
    top: 35%;
    left: 15%;
}

#flair_text{
    color: #f4ebc1;
    transition: all 0.5s linear;
    font-size: 60px;
    cursor: pointer;
}
.flair_fade{
    opacity: 0;
}
.flair_unfade{
    opacity: 1;
    pointer-events: all;
}
.credit_link{
    text-decoration: none;
    color:  #f4ebc1;
}

#landing_header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

#intro_image_div{
    position: absolute;
    height: inherit;
    right: 15%;
    overflow: hidden;
    max-width: 150%;
}

#landing_image{
    max-height: 100%;
    overflow: hidden;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}

#panel2_div{
    text-align: center;
    color: white;
    background-image: url(/images/aurora.jpg);
    background-size: fill;
    background-position: center;
}

#social_header_text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

#social_div{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.whats_new_button{
    background: none;
    color: #f4ebc1;
    border: solid;
    border-color: white;
    font-size: 24px;
    width: 350px;
    height: 75px;
    transform: translateY(-400%);
    transition: all 0.5s ease;
    cursor: pointer;
}
.inverted_button{
    background: white;
    color: darkblue;
    border: none;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.button_clicked{
    transform: scale(0.75);
    background: white;
    color: darkblue;
    border: none;
}
.photo_credit_div{
    position: absolute;
    max-width: 50%;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

/*About Panel CSS*/
#panel3_div{
    background-color: #66d1aa;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}











#item3_header{
    bottom: 0px;
}
#fbird_header{
    bottom: 0px;
}


#about_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#panel5_div{
    background-color: #54acc7;
    position: relative;
    display: flex;
    flex-direction: row;
}

#site_header{
    background-color: gray;
    border-radius: 5px;
    padding: 2px;
    width: 33%;
    text-align: center;
}

#panel6_div{
    background-image: url("/images/rb2k.jpg");
    background-position: top;
    background-size: cover;
}

.contact_panel{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contact_block{
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    text-align: center;
    border-left: solid 1px white;
    border-right: solid 1px white;
    height: 100%;
}
.contact_text_div{
    position: absolute;
    width: 100%;
}
.contact_text{
    display: flex;
    flex-direction: column;
    color: white;
}
.contact_header{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.contact_p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.contact_link{
    color: #f4ebc1;
}
.contact_image_div{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: absolute;
}
.image_overlay{
    background: gray;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact_image{
    height: 100%;
}

@media screen and (max-width: 850px){
    .header_nav_links{
        display: none;
    }
    #home_logo{
        display: flex;
    }
    .burger{
        display: flex;
    }
    .mobile_nav{
        display: flex;
    }
    .social_text{
        display: none;
    }
    .about_text_div{
        width: 100%;
        color: white;
        margin: 5%;
        z-index: 1;
    }
    .p4_grid_container{
        display: grid;
        grid-template-areas: 
            'project1'
            'project2'
            'project3'
            'project4'
            'project5'
            'project6';
        height: 750px;
        width: 100%;
        gap: 5px;
        -webkit-filter: drop-shadow(10px 10px 10px #222222);
        filter: drop-shadow(10px 10px 10px #222222);
    }
}