@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300|Exo+2:wght@500&display=swap);

.project{
    pointer-events: all;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
footer{
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    background-color: #1f6f8b;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black);
}

.centered_vertical{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Nav Bar CSS*/
.header_nav{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f6f8b;
    box-sizing: border-box;
}
.logo_div{
    margin: 0 0 0 10px;
}
.logo_name_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rb2k_logo{
    height: 33px;
    width: 33px;
}
.rb2k_logo_small{
    height: 30px;
    width: 30px;
    display: none;
}
#logo_lines{
    margin: 0 0 0 auto;
}
.name_header{
    margin: 0 0 0 10px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #e6d5b8;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
}
.nav_links_container{
    margin: 0 10px 0 0;
    width: 55%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
}
.nav_link_block{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link_lines{
    opacity: 0;
    width: 0%; 
    margin: 5px 0 5px auto;
    border: solid 1px white;
    transition: all 0.5s ease;
}
.hovered_lines{
    opacity: 1;
    width: 85%;
}
.header_nav_links{
    margin: 0 0 0 30px;
    color: #e6d5b8;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}
.logo_nav_link{
    margin: 0 0 0 0;
}
.hovered_nav_item{
    color: white;
}
.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: #e6d5b8;
}
.mobile_nav{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0vh;
    right: 0px;
    background-color: #1f6f8b;
    z-index: 5;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 1s all ease-in-out;
}
.mobile_links_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mobile_nav_links{
    color: #e6d5b8;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}
.nav_active{
    transform: translateX(0%)
}

/*Landing Page CSS*/
.image_panel{
    width: 100%;
    overflow: hidden;
    height: 700px;
    position: relative;
}
.text_panel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

/*News*/
.news_panel{
    position: relative;
    text-align: center;
    color: white;
    background-image: url(/images/aurora.jpg);
    background-size: fill;
    background-position: top;
}
.news_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.news_header_div{
    margin: 0;
    padding: 0;
}
.news_header{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color: white;
}
.social_link_div{
    margin: 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.linkedin_icon{
    background-image: url("/images/linkedin_icon.png");
}
.github_icon{
    background-image: url("/images/github_icon.png");
}
.facebook_icon{
    background-image: url("/images/facebook_icon.png");
}
.instagram_icon{
    background-image: url("/images/instagram_icon.png");
}
.twitter_icon{
    background-image: url("/images/twitter_icon.png");
}
.youtube_icon{
    background-image: url("/images/youtube_icon.png");
}
.node_icon{
    width: 26px;
    height: 26px;
    background-size: cover;
    background-image: url("/images/nodejs_icon.png");
}
.handlebars_icon{
    width: 26px;
    height: 26px;
    background-size: cover;
    background-image: url("/images/handlebars_icon.png");
}
.feed_div{
    display: none;
    margin: 0;
    width: 50%;
    height: 200px;
}
.fb-page{
    border: solid 1px white;
}
.news_button_div{
    margin: 0px;
}
.news_button{
    background: none;
    color: #e6d5b8;
    border: solid;
    border-color: white;
    font-size: 24px;
    width: 250px;
    height: 50px;
    transition: all 0.5s ease;
    cursor: pointer;
}


/*What New CSS*/
.news_elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.social_header_div{
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 1.5s ease;
}
.social_grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.social_grid_element{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 1.5s ease;
    pointer-events: none;
}
.social_items_div{
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.social_node{
    width: 75px;
    height: 75px;
    opacity: 1;
    margin: 10px;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black);
    transition: all 1.5s ease;
}
.social_text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
}
.social_image_link{
    max-width: 75px;
    max-height: 75px;
    border-radius: 5px;
}
.wn_button_div{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.photo_credit_span{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 10px;
    width: 100%;
    color: white;
}

/*About CSS*/
.about_panel{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    background-image: url(/images/contact_back.jpg);
    background-position: 50% 0%;
    background-size: fill;
    overflow: hidden;
}
.about_container_div{
    width: 90%;
    margin: 200px auto 200px auto;
}
.about_info_div{
    color: white;
    margin: 0 0 50px 0;
}
.about_header{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: left;
    opacity: 0;
}
.appear{
    opacity: 1;
}
.about_text_div{
    margin: 0 auto 0 0;
    width: 60%;
    transform: translateX(-150%);
    transition: all 1s ease;
}
.about_text_div.drop_down{
    transform: translateY(0%);
}
.about_text{
    position: relative;
    font-family: 'Lora', serif;
    font-size: 20px;
}
.contact_break{
    border: solid 1px white;
    margin: 5px auto 5px 0;
    width: 0%;
    transition: all 1s ease;
}
.right{
    margin: 5px 0 5px auto;
}
.about_image_div{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -4px;
    overflow: hidden;
    padding: 0px;
}

.panel3_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    background-color: #53b592/*#66d1aa*/;
}
.contact_panel{
    background-color: #54acc7;
    position: relative;
    display: flex;
    flex-direction: row;
}
.contact_block{
    margin: 200px 0 50px auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.contact_text_div{
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact_text{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: right;
}
.contact_header{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 auto;
    opacity: 0;
}
.contact_header.appear{
    opacity: 1;
}
.contact_p_container{
    margin: 0 0 0 auto;
    transform: translateX(150%);
    transition: all 1s ease;
}
.contact_p_container.drop_down{
    transform: translateX(0%)
}
.contact_social{
    margin: 0;
    border: solid 1px white;
}
.type_span{
    opacity: 0;
    transition: all 0 linear;
}
.type_span.appear{
    opacity: 1;
}
.contact_p{
    font-family: 'Lora', serif;
    font-size: 24px;
    z-index: 2;
}
.contact_link{
    color: #e6d5b8;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
.line_grow{
    width: 100%;
}


/*Projects CSS*/
.project_panel{
    height: 800px;
    background-color: #1c2b2d;
}
.p4_grid_container{
    display: grid;
    grid-template-areas: 
        'projectT projectT projectT projectT projectT projectT'
        'project1 project1 project2 project2 project6 project6'
        'project1 project1 project2 project2 project6 project6'
        'project1 project1 project2 project2 project6 project6'
        'project3 project3 project3 project3 project6 project6'
        'project3 project3 project3 project3 project6 project6'
        /*'projectE projectE projectE projectE projectE projectE'*/;
    height: 800px;
    width: 100%;
}
.projectT_grid_element{
    grid-area: projectT;
    background-color: #1c2b2d;
    box-sizing: border-box;
    /*-webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);*/
}
.project_title_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.project_header_container{
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.project_header{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    color: white;
}
.about_image{
    position: absolute;
    margin: 0;
    height: 100%;
    right: 15%;
    z-index: 2;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.project_lines{
    position: absolute;
    border: solid 1px white;
    right: 0px;
    margin: 20px 2% 20px 2%;
    width: 0%;
    transition: all 1s ease;
}
.project_lines.line_grow{
    width: 96%;
}
.bottom{
    bottom: 0px;
    width: 96%;
    margin-bottom: 0;
    z-index: 2;
}
.p4_grid_element1{
    grid-area: project1;
    background-image: url(/images/site_image.png);
    background-position: center;
    background-size: cover;
    margin: 16px 8px 8px 16px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_1{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items1{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.p4_grid_element2{
    grid-area: project2;
    background-image: url(/images/pong_image.png);
    background-position:  left center;
    background-size: cover;
    margin: 16px 8px 8px 8px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_2{
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items2{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.p4_grid_element3{
    grid-area: project3;
    background-image: url(/images/nv_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin: 8px 8px 16px 16px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_3{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items3{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.p4_grid_element4{
    grid-area: project4;
    background-image: url(/images/jav_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_4{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items4{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.p4_grid_element5{
    grid-area: project5;
    background-image: url(/images/cpp_image.png);
    background-position:  left bottom;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_5{
    background-color: white;
    height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
.hidden_items5{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.p4_grid_element6{
    grid-area: project6;
    background-image: url(/images/fbird_image.png);
    background-position: 10% 0;
    background-size: cover;
    margin: 16px 16px 16px 8px;
    cursor: pointer;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.hidden_overlay_6{
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.hidden_items6{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 1s all ease;
}
.projectE_grid_element{
    grid-area: projectE;
    position: relative;
    background-image: url(/images/code_background_reverse.jpg);
    background-size: cover;
    background-position: center;
}

.project_header_containerR{
    position: absolute;
    right: 5%;
    bottom: 15px;
    margin: 0;
}
.arrow_icon{
    width: 50px;
    margin: 10px 0 10px auto;
}
.content_div{
    width: 100%;
    height: 100%;
    position: relative;
}

.grid_header_div{
    width: 90%;
    position: absolute;
    margin: 15px;
}
.grid_header{
    color: #e6d5b8;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}
.hidden_info_container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.hidden_text{
    font-size: 18px;
    font-family: 'Lora', serif;
    text-align: center;
}
.hidden_break{
    border: solid 1px black;
    margin: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#hidden_break_white{
    border: solid 1px white;
}
.hidden_button_link{
    margin: auto;
}
.hidden_button{
    border: solid 1px grey;
    background-color: grey;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}
.overlay_reveal{
    height: 100%;
    width: 100%;
    pointer-events: all;
    opacity: 0.85;
}
.items_reveal{
    opacity: 1;
    pointer-events: all;
}
#item3_header{
    bottom: 0px;
}
#fbird_header{
    bottom: 25px;
}

/*Project Info Page CSS*/
.project_info_bod{
    background-color: #f0f0f2;
}
.inner_banner{
    width: 100%;
    height: 500px;
    position: relative;
}
.inner_banner.service_banner{
    background-image: url('/images/rb2k_banner_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;

}
.inner_banner.projects_banner{
    background-image: url('/images/code_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
}
.inner_header_container{
    position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 100%;
    height: 33%;
    top: 50%;
    padding: 0 0 0 25%;
    border: solid 1px white;
    border-left: none;
    border-right: none;
}
.inner_header_container.projects_header{
    position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 100%;
    height: 33%;
    top: 50%;
    padding: 0 0 0 45%;
    border: solid 1px white;
    border-left: none;
    border-right: none;
}
.inner_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: black;
    opacity: 0.25;
}
.inner_header{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: white;
    margin: 0;
}
.inner_section_container:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 500px;
    margin: 100px auto 0 auto;
}
.inner_section_container:nth-child(odd){
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 500px;
    margin: 100px auto 0 auto;
}
#bottom_container{
    margin-bottom: 50px;
}
.inner_image_section{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    margin: 0;
    background-position: center;
}
.inner_image_section.this_site{
    background-image: url('/images/site_image.png');
    background-size: cover;
}
.inner_image_section.pong{
    background-image: url('/images/pong_image.png');
    background-size: cover;
}
.inner_image_section.nv{
    background-image: url('/images/nv_image.png');
    background-size: cover;
}
.inner_image_section.fbird{
    background-image: url('/images/fbird_image.png');
    background-size: cover;
}
.inner_image_section.service1{
    background-image: url('/images/service_img3.jpg');
    background-size: cover;
}
.inner_image_section.service2{
    background-image: url('/images/service_img2.jpg');
    background-size: cover;
}
.inner_image_section.service3{
    background-image: url('/images/service_img1.jpg');
    background-size: cover;
}
.inner_image{
    position: relative;
    height: 100%;
    margin: 0;
}
.inner_text_section{
    position: relative;
    width: 50%;
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
}
.inner_text_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0
}
.inner_text_header{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: left;
    width: 80%;
    margin: auto auto 25px auto;
}
.inner_text{
    font-family: 'Lora', serif;
    font-size: 18px;
    width: 80%;
    margin: auto;
}
.inner_contact_p{
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: left;
    margin: 0 0 0 11%;
}
.inner_contact_link{
    color: #1f6f8b;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
.inner_lines{
    border: solid 1px black;
    transition: all 5s ease;
    position: absolute;
    margin: 0;
}
.inner_lines.vertical{
    height: 0%;
    width: 0%;
    top: 0px;
    left: 0px;
}
.inner_lines.horizontal{
    height: 0%;
    width: 0%;
    top: 0px;
    left: 0px;
}
.inner_lines.vertical.left{
    right: 0px;
    left: initial;
}
.inner_lines.horizontal.left{
    right: 0px;
    left: initial;
}
.inner_line_growH{
    width: 0%;
}
.vertical.inner_line_grow{
    height: 100%;
}
.horizontal.inner_line_grow{
    width: 95%;
}

/*Contact Page*/
.contact_page_container{
    background-image: url(/images/aurora_large.jpg);
    background-size: cover;
    background-position: center;
}
.contact_section_container{
    position: relative;
    width: 50%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
.contact_elements_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.contact_title_div{
    position: relative;
}
.contact_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    letter-spacing: 5px;
    color: white;
}
.contact_page_text{
    font-family: 'Lora', serif;
    font-size: 32px;
    color: white;
}
.inner_overlay.cPage{
    top: 0px;
    transition: all 2s linear;
}


.contact_image_div{
    height: 90%;
    overflow: hidden;
    position: absolute;
    right: 10%;
    bottom: 0px;
}
.image_overlay{
    background: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact_image{
    height: 100%;
    z-index: 1;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 8px #222222);
}

/*Services CSS*/
.services_items{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.services_overlay{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 35%;
    z-index: 1;
}
.services_header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    z-index: 2;
}
.services_link_div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: solid 1px white;
}
.services_link{
    z-index: 2;
}
.services_button{
    margin: 20px; 
    padding: 10px;
    text-align: center;
    color: #e6d5b8;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 20px black;
    background: none;
    border: solid;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

/*Element IDs*/
#header_div{
    background-color: #1f6f8b;
}


#panel1_div{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    background-color: #1f6f8b;
    /* #54acc7;*/
    height: 650px;
    /*background-color: #00ace6;*/
}

#intro_text_div{
    text-align: left;
    position: absolute;
    color: white;
    top: 35%;
    left: 15%;
}

#flair_text{
    color: #e6d5b8;
    transition: all 0.5s linear;
    font-size: 60px;
    cursor: pointer;
}
.flair_fade{
    opacity: 0;
}
.flair_unfade{
    opacity: 1;
    pointer-events: all;
}
.credit_link{
    text-decoration: none;
    color:  #e6d5b8;
}

#landing_header{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-decoration: none;
}

#intro_image_div{
    position: relative;
    margin-right: 30%;
    margin-top: auto;
    height: 85%;
}

#landing_image{
    height: 100%;
    overflow: hidden;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}

#panel2_div{
    text-align: center;
    color: white;
    background-image: url(/images/aurora.jpg);
    background-size: fill;
    background-position: center;
}

#social_header_text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

#social_div{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.whats_new_button{
    background: none;
    color: #e6d5b8;
    border: solid;
    border-color: white;
    font-size: 24px;
    width: 350px;
    height: 75px;
    transform: translateY(-400%);
    transition: all 0.5s ease;
    cursor: pointer;
}
.inverted_button{
    background: white;
    color: darkblue;
    border-color: white;
    -webkit-filter: drop-shadow(10px 10px 10px #222222);
    filter: drop-shadow(10px 10px 10px #222222);
}
.button_clicked{
    transform: scale(0.75);
    background: white;
    color: darkblue;
    border: none;
}
.photo_credit_div{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 3px;
    text-align: right;
}


#site_header{
    padding: 2px;
    text-align: left;
}

#panel6_div{
    background-image: url("/images/skyline.jpg");
    background-position: top;
    background-size: cover;
}

/*Footer container*/
.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social_header_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.social_links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.social_icon{
    width: 36px;
    height: 36px;
    background-size: cover;
}
.author_div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 15px 0 0;
}
.author_text{
    margin: 0 5px 0 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
}



@media screen and (max-width: 1024px){
    /*Nav Header*/
    .header_nav{
        height: 40px;
    }
    .nav_links_container{
        width: initial;
    }
    .header_nav_links{
        display: none;
    }
    .rb2k_logo{
        display: none;
    }
    .rb2k_logo_small{
        height: 20px;
        width: 40px;
        display: initial;
    }
    #home_logo{
        display: flex;
    }
    .name_header{
        font-size: 18px;
    }
    .burger{
        display: flex;
    }
    .mobile_nav{
        display: flex;
    }
    #intro_text_div{
        text-align: left;
        position: absolute;
        color: white;
        top: 48%;
        left: 10%;
    }
    #landing_header{
        font-size: 40px;
    }
    #flair_text{
        color: #e6d5b8;
        transition: all 0.5s linear;
        font-size: 45px;
        cursor: pointer;
    }

    /*Landing*/
    #intro_image_div{
        margin-right: -5%;
        height: 85%;
    }
    
    /*About*/
    .about_panel{
        background-position: 47%;
    }
    .about_container_div{
        width: 90%;
        margin: 100px auto 100px auto;
    }
    .about_text_div{
        margin: auto;
        width: 85%;
    }
    .about_header{
        text-align: center;
    }
    .about_text{
        font-size: 18px;
    }
    .contact_block{
        margin: 100px 0 50px auto;
    }
    .contact_header{
        text-align: center;
        margin: 0;
    }
    .contact_p{
        font-size: 18px;
    }
    


    /*Projects*/
    .project_panel{
        height: 1200px;
    }
    .p4_grid_container{
        display: grid;
        grid-template-areas: 
            'projectT'
            'project1'
            'project1'
            'project2'
            'project2'
            'project3'
            'project3'
            'project6'
            'project6';
        height: 1200px;
        width: 100%;
    }
    .project_header_container{
        left: 25%;
        top: 55px;
    }
    .project_header{
        font-size: 34px;
    }
    .about_image{
        right: 1%;
    }
    .p4_grid_element1{
        grid-area: project1;
        background-image: url(/images/site_image.png);
        background-position:  center;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 7px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .p4_grid_element2{
        grid-area: project2;
        background-image: url(/images/pong_image.png);
        background-position:  left center;
        background-size: cover;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .p4_grid_element3{
        grid-area: project3;
        background-image: url(/images/nv_image.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .p4_grid_element4{
        grid-area: project4;
        background-image: url(/images/jav_image.png);
        background-position:  left bottom;
        background-size: cover;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .p4_grid_element5{
        grid-area: project5;
        background-image: url(/images/cpp_image.png);
        background-position:  left bottom;
        background-size: cover;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .p4_grid_element6{
        grid-area: project6;
        background-image: url(/images/fbird_image.png);
        background-position:  left top;
        background-size: cover;
        margin-top: 7px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .hidden_text{
        font-size: 16px;
    }

    /*Footer*/
    .footer_container{
        width: 90%;
        margin: auto;
    }
    .social_header_text{
        font-size: 12px;
    }
    .social_icon{
        width: 26px;
        height: 26px;
        background-size: cover;
    }
    .author_div{
        display: none;
    }
    #twitter_link{
        display: initial;
    }

    /*Inner pages.*/
    .inner_banner{
        width: 100%;
        height: 300px;
        position: relative;
        border-bottom: solid 1px white;
    }
    .inner_banner.service_banner{
        background-image: url('/images/rb2k_banner_dark.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 55% 60%;
    
    }
    .inner_header_container{
        padding: 0 0 0 0;
        overflow: hidden;
        box-sizing: border-box;
    }
    .inner_header_container.projects_header{
        padding: 0;
    }
    .inner_overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        background-color: black;
        opacity: 0.25;
    }
    .inner_header{
        font-size: 36px;
        width: 100%;
        text-align: center;
    }
    .inner_section_container:nth-child(even){
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        width: 90%;
        height: 700px;
        margin: 10% 5%;
    }
    .inner_section_container:nth-child(odd){
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: 700px;
        margin: 0 5%;
    }
    .inner_image_section{
        box-sizing: border-box;
        width: 100%;
    }
    .inner_image{
        position: relative;
        -ms-transform: none;
        transform: none;
        height: 100%;
        margin: 0;
    }
    .inner_text_section{
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 5%;
    }
    .inner_text_header{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    .inner_text_container{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0
    }
    .inner_text{
        font-family: 'Lora', serif;
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .inner_contact_p{
        font-family: 'Lora', serif;
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    .vertical.inner_line_grow{
        height: 95%;
    }
    .horizontal.inner_line_grow{
        width: 100%;
    }

    /*Contact Page*/
    .contact_page_container{
        background-position: 50% 80%;
    }
    .contact_section_container{
        width: 90%;
    }
    .contact_page_text{
        font-size: 20px;
    }
}